*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}



/* placed at relative so that it can control the whatsapp and chat with us button */
.body{
    position: relative;
}


/* navbar styling */



.navbar ul li {
    padding-left: 20px;

}

.navbar-brand{
    padding-right: 500px;
}

@media(max-width:992px){
    .navbar-brand{
    
        padding-right: 20px;
         
    }
    
   
}



.nav-link:hover{
    color: #f5b900 !important; 
}

.dropdown-item:hover{
    color: #f5b900 !important; 
}


/* styling of hero section */

.bg {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../image/delievery\ manw.webp );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   
    
}


.bgcontent{
    text-align: center;
    padding-top: 15%;
    
}

@media(max-width:992px){
    .bgcontent{
    
        padding-top: 25%;
         
    }   
}

@media(max-width:600px){
     .bgcontent{
    
        padding-top: 35%;   
    } 
}



.btn1{
    border-radius: 10%;
    padding: 20px 60px;
}



@media(max-width:992px){
    .btn1{
    
        padding: 10px 30px;
         
    }
    
   
}


/* styling of chat with us */
.chat{
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 1000;

}

/* styling of chat with us */
.chat1{
    position: fixed;
    right: 30px;
    bottom: 5px;
    z-index: 1000;

}

.btn2{
    border-radius: 10px;
    padding: 2px 4px;
    border: 1px solid black;
    color: black;
}




/* styling of about */

.aboutus{
    background-color: rgb(250, 247, 247);
}


/* styling of operation */

.operation2{
    background-color: #4c4c4c;
}

.opt{
    margin-right: 200px;
    margin-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50%;
    border: 2px solid white;
}


@media(max-width:992px){
    .opt{
        margin-right: 100px;
        margin-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 50%;
        border: 2px solid white;

         
    }
    
   
}


/* styling of services */

.service-card .layer {
    background-color: rgba(0, 0, 0, 0.7); /* semi-transparent overlay */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.service-card:hover .layer {
    opacity: 1;
}

/* Optional: truncate long text for uniform height */
.service-card .layer p {
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* styling of testimonial */

/* .content{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 247, 247);
} */

/* .testimonial{
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
} */

 

/* .testimonial .slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
} */




 .test{
    font-size: 25px;
    color: #333;
} 

.fot{
    color:  #c5c9c9;
}
